<!DOCTYPE html>
<html lang="en">

<!--
 ***********   HEAD   **************************************************
-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="css/cartStyle.css" />
    <title>ESSENSOR Carrito</title>
</head>

<!--
 ***********   BODY  **************************************************
-->


<body>
    <header>
        <div class="toolbar">
            <img src="assets/images/logo.png" alt="Essensor logo">
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="card-product">
                <div class="card-product-product-image">
                    <img src="assets/images/flow-sensor.png" alt="imagen de producto">
                </div>
                <div class="card-product-product-description">
                    <div class="card-product-first-row">
                        <label>Sensor de flujo</label>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                    <div class="card-product-second-row">
                        <select name="quantity" id="sCantidad">
                            <option value="1"> 1 u</option>
                            <option value="2"> 2 u</option>
                            <option value="3"> 3 u</option>
                            <option value="4"> 4 u</option>
                            <option value="5"> 5 u</option>
                        </select>
                        <label>$ 7721.12</label>
                    </div>
                </div>

            </div>
            <div class="card-product">
                <div class="card-product-product-image">
                    <img src="assets/images/encoder.png" alt="imagen de producto">
                </div>
                <div class="card-product-product-description">
                    <div class="card-product-first-row">
                        <label>Encoder</label>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                    <div class="card-product-second-row">
                        <select name="quantity" id="sCantidad">
                            <option value="1"> 1 u</option>
                            <option value="2"> 2 u</option>
                            <option value="3"> 3 u</option>
                            <option value="4"> 4 u</option>
                            <option value="5"> 5 u</option>
                        </select>
                        <label>$ 7721.12</label>
                    </div>
                </div>

            </div>
            <div class="card-product">
                <div class="card-product-product-image">
                    <img src="assets/images/temperature-sensor.png" alt="imagen de producto">
                </div>
                <div class="card-product-product-description">
                    <div class="card-product-first-row">
                        <label>Sensor de Temperatura</label>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                    <div class="card-product-second-row">
                        <select name="quantity" id="sCantidad">
                            <option value="1"> 1 u</option>
                            <option value="2"> 2 u</option>
                            <option value="3"> 3 u</option>
                            <option value="4"> 4 u</option>
                            <option value="5"> 5 u</option>
                        </select>
                        <label>$ 7721.12</label>
                    </div>
                </div>

            </div>
            <div class="card-product">
                <div class="card-product-product-image">
                    <img src="assets/images/flow-sensor.png" alt="imagen de producto">
                </div>
                <div class="card-product-product-description">
                    <div class="card-product-first-row">
                        <label>Sensor de flujo</label>
                        <button>
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                    <div class="card-product-second-row">
                        <select name="quantity" id="sCantidad">
                            <option value="1"> 1 u</option>
                            <option value="2"> 2 u</option>
                            <option value="3"> 3 u</option>
                            <option value="4"> 4 u</option>
                            <option value="5"> 5 u</option>
                        </select>
                        <label>$ 7721.12</label>
                    </div>
                </div>
            </div>

           

            <div class="cart-bottom-row">
                <div class="cart-bottom-row-subtotal-label">
                    <label for="Total"> Subtotal $ 10000.00</label>
                </div>
                <div class="cart-bottom-row-descount-label">
                    <label for="Descount"> Desc. %15 ($1500.00)</label>
                </div>
                <div class="cart-bottom-row-total-label">
                    <label for="Total"> Total $ 8500.00</label>
                </div>
                <div class="cart-bottom-row-button-comprar">
                    <button>Comprar</button>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="footer-container">
            <div class="logo-and-contact-data">
                <img src="assets/images/logo.png" alt="Essensor logo">
                <i>San Martín 3332, CABA - Argentina</i>
                <i>Tel.: (+54 11) 4444 3322</i>
            </div>
            <div>
                <ul class="socials-media">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2022 <a href="#">G8 FullStackDeveloper</a> </p>
                <div class="footer-menu">
                    <ul class="f-menu">
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Nosotros</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>