<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/homeStyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <!--
 ***********  TOOLBAR   ************************************************
-->

  <body>
    <header class="toolbar blue-color">
      <div class="toolbar-title">
        <div class="toolbar-title-in-logo">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <div class="toolbar-title-in-empty"></div>
        <div class="toolbar-title-in-login">
          <button type="button">
            Login <img src="assets/images/user.png" alt="user.png" />
          </button>
        </div>
        <div class="toolbar-title-in-cart">
          <button type="button">
            <img src="assets/images/cart.png" alt="" />
          </button>
        </div>
      </div>
      <div class="toolbar-search">
        <div class="toolbar-search-in">
          <input
            class="toolbar-search-in-text"
            type="text"
            name="search-words"
            placeholder="Buscar..."
          />
          <button type="button" class="toolbar-search-in-button">
            <img
              class="toolbar-search-in-button-icon" src="assets/images/search-icon.png" alt="search icon"/>
          </button>
        </div>
      </div>
      <div class="toolbar-links">
        <a class="white-color" href="home.html">Inicio</a>
        <a class="white-color" href="products.html">Productos</a>
        <a class="white-color" href="solutions.html">Soluciones</a>
        <a class="white-color" href="aboutUs.html">Nosotros</a>
      </div>
    </header>

    <!--
 ***********   SOLUTIONS SECTION   *********************************************
-->
<main>
    <section class="section-format">
      <div class="section-title">
        <h2>SOLUCIONES</h2>
      </div>
      <div class="articles-container">
        <article>
          <div class="section-img">
            <img src="assets/images/lab-app.png" alt="lab-app.png"/>
          </div>
          <!-- <div class="section-article-foot-name-solutions">
        <h3>Laboratorios</h3>
      </div> -->
        </article>

        <article class="display-solutions">
          <div class="section-img">
            <img src="assets/images/agro-app.png" alt="agro-app.png" />
          </div>
          <!-- <div class="section-article-foot-name-solutions">
        <h3>Agro</h3>
      </div> -->
        </article>

        <article class="display-solutions">
          <div class="section-img">
            <img src="assets/images/industry-app.png" alt="industry-app.png" />
          </div>
          <!-- <div class="section-article-foot-name-solutions">
        <h3>Industrias</h3>
      </div> -->
        </article>
      </div>
    </section>

    <!--
 ***********   SALES SECTION   **************************************************
-->

    <section class="section-format">
      <div class="section-title">
        <h2>OFERTAS</h2>
      </div>
      <div class="articles-container">
        <article class="section-article display-1">
          <div class="section-img section-img-sales ">
            <img src="assets/images/flow-sensor.png" alt="flow-sensor.png" />
          </div>
          <div class="section-article-foot-name-sales">
            <h4>Sensores de flujo</h4>
          </div>
          <div class="section-article-foot section-article-foot-price">
            <h5>Desde $10.500</h5>
          </div>
          <div class="section-article-foot section-article-foot-discount">
            <h5>20% OFF</h5>
          </div>
        </article>

        <article class="section-article display-2">
          <div class="section-img section-img-sales">
            <img src="assets/images/gas-sensor.png" alt="gas-sensor.png" />
          </div>
          <div class="section-article-foot-name-sales">
            <h4>Sensores de gases</h4>
          </div>
          <div class="section-article-foot section-article-foot-price">
            <h5>Desde $25.800</h5>
          </div>
          <div class="section-article-foot section-article-foot-discount">
            <h5>15% OFF</h5>
          </div>
        </article>

        <article class="section-article display-3">
          <div class="section-img section-img-sales">
            <img src="assets/images/temperature-sensor.png" alt="flow-sensor.png"/>
          </div>
          <div class="section-article-foot-name-sales">
            <h4>Sensores de temperatura</h4>
          </div>
          <div class="section-article-foot section-article-foot-price">
            <h5>Desde $35.200</h5>
          </div>
          <div class="section-article-foot section-article-foot-discount">
            <h5>8% OFF</h5>
          </div>
        </article>

        <article class="section-article display-4">
          <div class="section-img section-img-sales">
            <img src="assets/images/encoder.png" alt="encoder.png" />
          </div>
          <div class="section-article-foot-name-sales">
            <h4>Encoders</h4>
          </div>
          <div class="section-article-foot section-article-foot-price">
            <h5>Desde $14.150</h5>
          </div>
          <div class="section-article-foot section-article-foot-discount">
            <h5>5% OFF</h5>
          </div>
        </article>
      </div>
    </section>

    <!--
 ***********   NEWS SECTION   ****************************************************
-->

    <section class="section-format">
      <div class="section-title">
        <h2>NOVEDADES</h2>
      </div>
      <div class="articles-container-news">
        <article>
          <div class="section-img">
            <img src="assets/images/silos.png" alt="silos.png" />
          </div>
        </article>

        <article>
          <div class="section-news">
            <h3 class="news-title">Monitoreo remoto de silos</h3>
            <p class="news-description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut
              inventore sint, autem eos neque eligendi velit voluptate incidunt
              rerum nihil nisi qui blanditiis corrupti, culpa sequi enim ducimus
              architecto eaque.
            </p>
          </div>
        </article>
      </main>

<!--
 ***********   FOOTER   **********************************************************
-->
        <div>
          <%- include('partials/footer.ejs')%>
        </div>

  </body>
</html>
