<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="css/homeStyle.css" />

<!--***********  HEAD   ************************************************-->
<%- include('partials/head.ejs', {title: 'ESSENSOR - Inicio' })%>

  <body>

    <!--***********  TOOLBAR HEADER   ************************************************-->
    <%- include('partials/toolbarHeader.ejs')%>


      <!--***********   SOLUTIONS SECTION   *******************************************-->

      <main>
        <section class="section-format">
          <div class="section-title">
            <h2>SOLUCIONES</h2>
          </div>
          <div class="articles-container">
            <a href="" class="section-img lab-img"><img src="assets/images/lab-app.png" alt="lab-app.png" /></a>

            <a href="" class="section-img agro-img"> <img src="assets/images/agro-app.png" alt="agro-app.png" /></a>

            <a href="" class="section-img ind-img"><img src="assets/images/industry-app.png"
                alt="industry-app.png" /></a>
          </div>
        </section>

        <!--***********   SALES SECTION   *******************************************-->

        <section class="section-format">
          <div class="section-title">
            <h2>OFERTAS</h2>
          </div>

          <div class="articles-container">
            <% for(let i=0; i<productos.length; i++){%>
              <%- include('partials/articleCard.ejs', {product: productos[i]})%>
                <% } %>
          </div>
        </section>


        <!--
 ***********   NEWS SECTION   ****************************************************
-->
        <section class="section-format">
          <div class="section-title">
            <h2>NOVEDADES</h2>
          </div>
          <div class="articles-container-news">

            <div class="section-img news-img">
              <img src="assets/images/silos.png" alt="silos.png" />
            </div>

            <div class="section-news">
              <h3 class="news-title">Monitoreo remoto de silos</h3>
              <p class="news-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut
                inventore sint, autem eos neque eligendi velit voluptate incidunt
                rerum nihil nisi qui blanditiis corrupti, culpa sequi enim ducimus
                architecto eaque.
              </p>
            </div>

      </main>

      <!--
 ***********   FOOTER   **********************************************************
-->
      <div>
        <%- include('partials/footer.ejs')%>
      </div>

  </body>

</html>