<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/homeStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="toolbar blue-color">
      <div class="toolbar-title">
        <div class="toolbar-title-in-logo"><img src="assets/images/logo.png" alt=""></div>
        <div class="toolbar-title-in-empty"></div>
        <div class="toolbar-title-in-login">
          <button type="button">Login 
            <img src="assets/images/user.png" alt=""></button>
        </div>
        <div class="toolbar-title-in-cart">
          <button type="button">
            <img src="assets/images/cart.png" alt="">
          </button>
        </div>
      </div>
      <div class="toolbar-search">
        <div class="toolbar-search-in">
          <input class="toolbar-search-in-text" type="text" name="search-words" placeholder="Buscar..." />
          <button type="button" class="toolbar-search-in-button">
            <img class="toolbar-search-in-button-icon" src="assets/images/search-icon.png" alt="search icon">
          </button>
        </div>
      </div>
      <div class="toolbar-links">
             <a class="white-color" href="home.html">Inicio</a>
             <a class="white-color" href="products.html">Productos</a>
             <a class="white-color" href="solutions.html">Soluciones</a>
             <a class="white-color" href="aboutUs.html">Nosotros</a>
      </div>
    </header>
  </body>
</html>