<!DOCTYPE html>
<html lang="en">
<div>
  <%- include('partials/head.ejs')%>
  <link rel="stylesheet" href="css/homeStyle.css" />
  <title>ESSENSOR Home</title>
</div>

<!--
 ***********  TOOLBAR   ************************************************
-->

<body>
  <header class="toolbar blue-color">
    <div class="toolbar-title">
      <div class="toolbar-title-in-logo">
        <img src="assets/images/logo.png" alt="" />
      </div>
      <div class="toolbar-buttons">
        <a href="/login">
          <i class="fa-solid fa-user"></i>
        </a>

        <a href="">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </div>
    <form action=""></form>
    <div class="toolbar-search">
      <input type="text" name="search-words" placeholder="Buscar..." />
      <button>
        <i class="fa-solid fa-search"></i>
      </button>
    </div>
    </form>
    <div class="toolbar-links">
      <a class="white-color" href="/">Inicio</a>
      <a class="white-color" href="products.html">Productos</a>
      <a class="white-color" href="solutions.html">Soluciones</a>
      <a class="white-color" href="aboutUs.html">Nosotros</a>
    </div>
  </header>

  <!--
 ***********   SOLUTIONS SECTION   *********************************************
-->
<main>
  <section class="section-format">
    <div class="section-title">
      <h2>SOLUCIONES</h2>
    </div>
    <div class="articles-container">
      <a href="" class="section-img lab-img" ><img src="assets/images/lab-app.png" alt="lab-app.png" /></a>
     
      <a href="" class="section-img agro-img"> <img src="assets/images/agro-app.png" alt="agro-app.png" /></a>

      <a href="" class="section-img ind-img"><img src="assets/images/industry-app.png" alt="industry-app.png" /></a>
    </div>
  </section>

    <!--
 ***********   SALES SECTION   **************************************************
-->

<section class="section-format">
  <div class="section-title">
    <h2>OFERTAS</h2>
  </div>
  <div class="articles-container">
    <article class="section-article display-1">
      <div class="section-img section-img-sales ">
        <img src="assets/images/flow-sensor.png" alt="flow-sensor.png" />
      </div>
      <div class="section-article-foot-name-sales">
        <h4>Sensores de flujo</h4>
      </div>
      <div class="section-article-foot section-article-foot-price">
        <h5>Desde $10.500</h5>
      </div>
      <div class="section-article-foot section-article-foot-discount">
        <h5>20% OFF</h5>
      </div>
    </article>

    <article class="section-article display-2">
      <div class="section-img section-img-sales">
        <img src="assets/images/gas-sensor.png" alt="gas-sensor.png" />
      </div>
      <div class="section-article-foot-name-sales">
        <h4>Sensores de gases</h4>
      </div>
      <div class="section-article-foot section-article-foot-price">
        <h5>Desde $25.800</h5>
      </div>
      <div class="section-article-foot section-article-foot-discount">
        <h5>15% OFF</h5>
      </div>
    </article>

    <article class="section-article display-3">
      <div class="section-img section-img-sales">
        <img src="assets/images/temperature-sensor.png" alt="flow-sensor.png" />
      </div>
      <div class="section-article-foot-name-sales">
        <h4>Sensores de temperatura</h4>
      </div>
      <div class="section-article-foot section-article-foot-price">
        <h5>Desde $35.200</h5>
      </div>
      <div class="section-article-foot section-article-foot-discount">
        <h5>8% OFF</h5>
      </div>
    </article>

    <article class="section-article display-4">
      <div class="section-img section-img-sales">
        <img src="assets/images/encoder.png" alt="encoder.png" />
      </div>
      <div class="section-article-foot-name-sales">
        <h4>Encoders</h4>
      </div>
      <div class="section-article-foot section-article-foot-price">
        <h5>Desde $14.150</h5>
      </div>
      <div class="section-article-foot section-article-foot-discount">
        <h5>5% OFF</h5>
      </div>
    </article>
  </div>
</section>


    <!--
 ***********   NEWS SECTION   ****************************************************
-->
<section class="section-format">
  <div class="section-title">
    <h2>NOVEDADES</h2>
  </div>
  <div class="articles-container-news">
 
      <div class="section-img news-img">
        <img src="assets/images/silos.png" alt="silos.png" />
      </div>

      <div class="section-news">
        <h3 class="news-title">Monitoreo remoto de silos</h3>
        <p class="news-description">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut
          inventore sint, autem eos neque eligendi velit voluptate incidunt
          rerum nihil nisi qui blanditiis corrupti, culpa sequi enim ducimus
          architecto eaque.
        </p>
      </div>
  
</main>

  <!--
 ***********   FOOTER   **********************************************************
-->
  <div>
    <%- include('partials/footer.ejs')%>
  </div>

</body>

</html>