<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/loginStyle.css" />
    <title>ESSENSOR Login</title>
</head>


<!--
 ***********   BODY   **************************************************
-->

<body>
    <header>
        <div class="toolbar">
            <img src="assets/images/logo.png" alt="">
        </div>
        <div class="main-container">
            <div class="main-container-title">
                <h2 class="title">Bienvenido</h2>
            </div>
            <div class="main-container-option-select">
                <div class="main-container-option-select-signin">
                    <input type="radio" name="option" id="signin" value="signin" checked>
                    <label for="signin">
                        <a href="">Iniciar sesión</a>
                    </label>
                </div>
                <div class="main-container-option-select-signout">
                    <input type="radio" name="option" id="signout" value="signout">
                    <label for="signout">
                        <a href="">Crear cuenta</a>
                    </label>
                </div>
            </div>
            <div class="main-container-text-inputs">
                <div class="main-container-text-inputs-email">
                    <input class="text-inputs" = type="text" placeholder="Email" required>
                </div>
                <div class="main-container-text-inputs-clave">
                    <input class="text-inputs" type="password" placeholder="Clave" required>
                </div>
                <div class="main-container-text-inputs-button">
                    <button class="button-iniciar" type="button" onclick="alert('You pressed the button!')">Iniciar</button>
                </div>
            </div>
            <div class="main-container-button">

            </div>
        </div>
    </header>
</body>

</html>