<!DOCTYPE html>
<html lang="en">
<div>
  <%- include('partials/head.ejs')%>
  <link rel="stylesheet" href="/css/homeStyle.css" />
  <title>ESSENSOR Home</title>
</div>

<!--
 ***********  TOOLBAR   ************************************************
-->

  <header class="toolbar blue-color">
    <div class="toolbar-title">
      <div class="toolbar-title-in-logo">
        <img src="assets/images/logo.png" alt="" />
      </div>
      <div class="toolbar-buttons">
        <a href="/login">
          <i class="fa-solid fa-user"></i>
        </a>

        <a href="">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </div>
    
    <div class="toolbar-search">
      <form action="" class="search-form">
        <input type="text" name="search-words" placeholder="Buscar..." />
        <button>
          <i class="fa-solid fa-search"></i>
        </button>
      </form>
    </div>

    <div class="toolbar-links">
      <a class="white-color" href="/">Inicio</a>
      <a class="white-color" href="products.html">Productos</a>
      <a class="white-color" href="solutions.html">Soluciones</a>
      <a class="white-color" href="aboutUs.html">Nosotros</a>
    </div>
  </header>

  <!--
 ***********   BODY   ************************************************
-->


    <!--
 ***********   HEADER   ***********************************************
-->

    <!--
 ***********   MAIN   ***********************************************
-->


    <!--
 ***********   FOOTER   ***********************************************
-->
    <%- include('partials/footer.ejs')%>
  </body>
</html>
