* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* ***********   TOOLBAR SECTION   *************************************************** */

.toolbar {
  height: 20vh;
  width: 100%;
}

.toolbar-title {
  display: flex;
  justify-content: left;
  height: 50%;
}

.toolbar-title-in {
  width: 20%;
  height: 100%;
}

.toolbar-title-in-logo {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
}

.toolbar-title-in-logo img {
  width: 100%;
  height: auto;
}

.toolbar-title-in-empty {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
}

.toolbar-title-in-login {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.toolbar-title-in-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
  max-width: 150px;
  align-items: center;
  border-radius: 5px;
}

.toolbar-title-in-login img {
  display: flex;
  padding-left: 50%;
  height: 70%;
  width: auto;
  justify-content: end;
}

.toolbar-title-in-cart {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.toolbar-title-in-cart button {
  width: 80%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.toolbar-title-in-cart img {
  height: 90%;
  width: auto;
}

.toolbar-search {
  display: flex;
  justify-content: center;
  height: 25%;
}

.toolbar-search-in {
  display: flex;
  width: 50%;
  margin: 0.25% 10%;
}

.toolbar-search-in-text {
  justify-content: left;
  width: 95%;
}

.toolbar-search-in-button {
  display: flex;
  justify-content: center;
  width: 5%;
}

.toolbar-search-in-button-icon {
  flex-grow: 0;
  flex-shrink: 0.5;
  width: 20px;
  height: 20px;
}

.toolbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.toolbar-links a {
  text-decoration: none;
}

/* ***********   GENERAL SECTIONS   *************************************************** */

.section-format {
  height: 75vh;
  background: linear-gradient(to right, black, #3333ff);
  border: solid 2px red;
}

.section-title {
  display: flex;
  margin-bottom: 3%;
  margin-left: 2%;
  justify-content: left;
  height: 10%;
  color: whitesmoke;
  background: linear-gradient(to right, #101040, #101040, #3333ff);
  border: solid 2px green;
}

.section-article {
  display: flex;
  margin: auto;
  height: 75%;
  width: 50%;
  flex-direction: column;
  box-shadow: 0px 0px 10px grey;
  border: solid 2px blue;
}

.section-img {
  display: flex;
  justify-content: center;
  object-fit: contain;
  border: solid 2px rgb(255, 0, 179);
}

.section-img img {
  height: 100%;
  width: auto;
}

.section-article-foot-name {
  display: flex;
  height: 10%;
  justify-content: center;
  padding-top: 2%;
  color: white;
  text-decoration: double;
}

.section-article-foot {
  display: flex;
  margin-right: 2%;
  margin-bottom: 1%;
  height: 10%;
  justify-content: right;
}

.section-article-foot-price {
  font-weight: 300;
  color: rgb(209, 181, 240);
}

.section-article-foot-discount {
  font-weight: 450;
  color: rgb(183, 244, 17);
}

/* ***********   SALES SECTION   *************************************************** */

.section-sale-img {
  height: 85%;
}

/* ***********   BEST SELLERS SECTION   *************************************************** */

.section-bestSellers-img {
  height: 65%;
}

/* ***********   NEWS SECTION   *************************************************** */

.section-article-news {
  display: flex;
  justify-content: left;
  height: 90%;
}

.section-news-img {
  height: 80%;
  padding-left: 3%;
}

.news-description {
  padding: 3%;
  text-align: justify;
  color: rgb(212, 207, 207);
}

/* ***********   COLORS   ***************************************************************** */
.blue-color {
  background-color: #3333ff;
}

.white-color {
  color: #ffff;
}

/* @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  } */
