* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* ***********   TOOLBAR SECTION   *************************************************** */

.toolbar {
  height: 20vh;
  width: 100%;
}

.toolbar-title {
  display: flex;
  justify-content: left;
  height: 50%;
}

.toolbar-title-in {
  width: 20%;
  height: 100%;
}

.toolbar-title-in-logo {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
}

.toolbar-title-in-logo img {
  width: 100%;
  height: auto;
}

.toolbar-title-in-empty {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
}

.toolbar-title-in-login {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.toolbar-title-in-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
  max-width: 150px;
  align-items: center;
  border-radius: 5px;
}

.toolbar-title-in-login img {
  display: flex;
  padding-left: 50%;
  height: 70%;
  width: auto;
  justify-content: end;
}

.toolbar-title-in-cart {
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.toolbar-title-in-cart button {
  width: 80%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.toolbar-title-in-cart img {
  height: 90%;
  width: auto;
}

.toolbar-search {
  display: flex;
  justify-content: center;
  height: 25%;
}

.toolbar-search-in {
  display: flex;
  width: 50%;
  margin: 0.25% 10%;
}

.toolbar-search-in-text {
  justify-content: left;
  width: 95%;
}

.toolbar-search-in-button {
  display: flex;
  justify-content: center;
  width: 5%;
}

.toolbar-search-in-button-icon {
  flex-grow: 0;
  flex-shrink: 0.5;
  width: 20px;
  height: 20px;
}

.toolbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.toolbar-links a {
  text-decoration: none;
}

/* ***********   GENERAL SECTIONS   *************************************************** */

.section-format {
  display: flex;
  flex-direction: column;
  background: #fff;
  /* border: solid 2px red; */
}

.articles-container {
  display: flex;
  /* border: solid 2px rgb(7, 212, 226); */
}

.section-title {
  display: flex;
  padding-left: 1rem;
  justify-content: left;
  align-items: center;
  height: 10%;
  width: 100%;
  color: whitesmoke;
  background: linear-gradient(to right, #101040, #101040, #3333ff);
  /* border: solid 2px green; */
}

.section-img {
  display: flex;
  /* height: 70%; */
  /* padding-left: 0.75rem;
  padding-right: 00.75rem; */
  /* border: solid 2px rgb(255, 0, 179); */
}

.section-img img {
  height: auto;
  width: 100%;
}

/* ***********   SOLUTIONS SECTION   *************************************************** */

.section-article-foot-name-solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  color: black;
  border: solid 2px blue;
}

/* ***********   SALES SECTION   *************************************************** */
.section-article-foot-name {
  display: flex;
  height: 10%;
  justify-content: center;
  padding-top: 2%;
  color: rgb(233, 19, 19);
  text-decoration: double;
}

.section-article-foot-price {
  font-weight: 300;
  color: black;
}

.section-article-foot-discount {
  font-weight: 450;
  color: rgb(13, 14, 13);
}
/* ***********   NEWS SECTION   *************************************************** */

.section-news{
  display: flex;
  flex-direction: column;
}

.news-title {
  display: flex;
  color: rgb(32, 9, 241);
  padding-top: 6rem;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

.news-description {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  text-align: justify;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

/* ***********   COLORS   ***************************************************************** */
.blue-color {
  background-color: #3333ff;
}

.white-color {
  color: #ffff;
}

/* ***********   MEDIAS QUERIES   ***************************************************************** */

/*TABLET*/
@media (min-width: 361px) {
  .display-2 {
    display: flex;
    display: block;
  }
}

/*DESKTOP*/
@media (min-width: 769px) {
  .display-2 {
    display: flex;
    display: block;
  }

  .display-3 {
    display: flex;
    display: block;
  }

  .display-4 {
    display: flex;
    display: block;
  }
}

/* @keyframes cambio {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
  
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
  
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
  
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  } */
