* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #eceff1;
}

.w-70 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.h-70{
  height: 70%;
  width: auto;
}

.image-home-container {
  width: 100%;
  height: 100vh;
  margin-top: 4rem;
  position: relative;
  display: inline-block;
}

.image-home-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.search-wrapper {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input{
  width: 600px;
}

section{
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.mt-25 {
  margin-top: 4rem !important;
  width: 100%;
}

.carousel-item{
  width: 100%;
  align-items: center;
  justify-content: center;
} 
.carousel-item img{
  width: 60%;
  min-width: 100%;
  height: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  
}

.cards-wrapper{
  display: flex;
}

.card{
  margin: 0 .5em;
  width: calc(100%/3);
}

.card-img-top{
  min-height: 150px;
  max-height: 150px;
  object-fit: contain;
}

.card-body-wide{
  width: 100%;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text-green{
  color: #1faa00;
}

.img-category-card{
    height: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}


/* ***********   GENERAL SECTIONS   *************************************************** */

.section-format {
  display: flex;
  flex-direction: column;
  background: #fff;
  /* border: solid 2px red; */
}

.articles-container {
  display: flex;
  background: #eceff1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border: solid 2px rgb(7, 212, 226);  */
}

.section-article {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(114, 114, 167);
  margin: 0 0.8rem;
  border-radius: 16px;
  padding: 12px;
  transition: 300ms;
  /* border: 2px solid red; */
}

.section-article:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px grey;
  transition: 300ms;
  transform: scale(1.05);
}

.section-title {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  justify-content: left;
  align-items: center;
  height: 10%;
  width: 100%;
  color: black;
  background: #eceff1;
  /* border: solid 2px green; */
}

.section-img {
  display: flex;
  /* border: solid 2px rgb(255, 0, 179);  */
}

.section-img img {
  height: auto;
  width: 100%;
}

/* ***********   SOLUTIONS SECTION   *************************************************** */

.section-article-foot-name-solutions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  color: black;
  /* border: solid 2px blue; */
}

.display-solutions {
  display: none;
}

.lab-img {
  animation: leftCenter 800ms none;
}

.agro-img {
  animation: upCenter 800ms none;
}

.ind-img {
  animation: rightCenter 800ms none;
}

/* ***********   CATEGORIES SECTION   *************************************************** */
.categories-cards-container{
  display: flex;
  align-items: center;
}

.categories-cards{
  display: flex;
  align-items: center;
  height: 10vh;
  box-shadow: 3px 3px 5px lightgray;
}

.categories-cards.img{
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.categories-cards-text{
  display: flex;
  padding-top: 0.5rem;
  padding-left: 1rem;
  align-items: center;
  object-fit: contain;
}
/* ***********   SALES SECTION   *************************************************** */

.section-img-sales {
  display: flex;
  height: 70%;
  /* border: solid 2px rgb(255, 0, 179);  */
}

.section-img-sales img {
  height: auto;
  width: 100%;
}

.section-article-foot-name-sales {
  display: flex;
  height: 10%;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  color: black;
}

.section-article-foot-price {
  font-weight: 500;
  display: flex;
  height: 10%;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  color: rgb(37, 28, 80);
}

.section-article-foot-discount {
  font-weight: 800;
  display: flex;
  height: 10%;
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
  color: green;
}

.display-2 {
  display: none;
}

.display-3 {
  display: none;
}

.display-4 {
  display: none;
}
/* ***********   NEWS SECTION   *************************************************** */

.articles-container-news {
  display: flex;
  flex-direction: column;
  background: #eceff1;
  /* border: solid 2px rgb(7, 212, 226); */
}

.section-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 2px greenyellow; */
}

.news-img {
  padding: 0.5rem;
  /* border: solid 2px rgb(255, 0, 179); */
}

.news-img img {
  border-radius: 16px;
}

.news-title {
  display: flex;
  color: rgb(32, 9, 241);
  padding: auto;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  /* border: solid 2px peru; */
}

.news-description {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  text-align: justify;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* border: solid 2px purple; */
}

/* ***********   FOOTER   *************************************************** */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #3333ff;
  height: auto;
  width: 100vw;
  padding-top: 0.5rem;
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.logo-and-contact-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-and-contact-data img {
  max-width: 300px;
  height: auto;
}

.logo-and-contact-data i {
  max-width: 300px;
  margin: auto;
  color: #fff;
  font-size: 0.7rem;
  font-style: normal;
}

.socials-media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.socials-media li {
  margin: 0 0.6rem 0 0.6rem;
}

.socials-media a {
  color: #cfd2d6;
}

.socials-media a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials-media a:hover i {
  color: #fff;
}

.footer-bottom {
  background: #3333ff;
  width: 100vw;
  padding-top: 0;
  padding: 0.5rem;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 0.8rem;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #fff;
}

/* ***********   COLORS   ***************************************************************** */
.blue-color {
  background-color: #3333ff;
}

.white-color {
  color: #ffff;
}

/* ***********   MEDIAS QUERIES   ***************************************************************** */

/*TABLET*/
@media (min-width: 361px) {
  .display-2 {
    display: block;
  }

  .display-solutions {
    display: block;
  }

  .articles-container-news {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .news-title {
    display: flex;
    padding: auto;
    font-size: 1rem;
  }

  .news-description {
    padding: auto;
  }
}
/*DESKTOP*/
@media (min-width: 769px) {
  .display-2 {
    display: flex;
    display: block;
  }

  .display-3 {
    display: flex;
    display: block;
  }

  .display-4 {
    display: flex;
    display: block;
  }

  .news-title {
    display: flex;
  }

  .news-description {
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* ANIMACIONES */

@keyframes upCenter {
  0% {
    transform: translatey(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes leftCenter {
  0% {
    transform: translatex(-500px);
  }
  100% {
    transform: translatex(0px);
  }
}

@keyframes rightCenter {
  0% {
    transform: translatex(500px);
  }
  100% {
    transform: translatex(0px);
  }
}
