* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  main{
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 4rem;
  }

  .table-img{
    width: 50px;
    max-width: 50px;
    max-height: 30px;
  }

  