/*------ALL SETTING---------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*------BODY SETTING---------*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #eceff1;
}

main {

    /* margin-bottom: 12rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    width: 100%;
    background-color: #3333ff;
    justify-content: center;
    height: 6rem;
    top: 0;
}

.main-container {
    padding: 1rem;
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
    background-color:#eceff1; 
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto;
    background-color: white;
}

img {
    height: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}

.product-description-container {
    display: flex;
    width: 60%;
    height: auto;
    background-color: #eceff1;
}

h5.discount{
    color: rgb(20, 207, 20);
}

p.description{
    white-space: pre-wrap;
}

.product-items-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #eceff1;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 0.8rem;
    width: 140px;
    height: 40px;
    background: #3333ff;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 0.9rem;
    transition: .2s ease-in-out 0s;
}

.button:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
    font-size: 0.95rem;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #3333ff;
    height: 12rem;
    width: 100vw;
    color: #fff;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo-and-contact-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-and-contact-data img {
    max-width: 300px;
    height: auto;
}

.logo-and-contact-data i {
    max-width: 300px;
    margin: auto;
    color: #fff;
    font-size: 0.7rem;
    font-style: normal;
}

.socials-media {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.socials-media li {
    margin: 0 0.6rem 0 0.6rem;
}

.socials-media a {
    color: #cfd2d6;
}

.socials-media a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials-media a:hover i {
    color: #fff;
}

.footer-bottom {
    background: #3333ff;
    width: 100vw;
    padding: 0.5rem;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 0.8rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #fff;
}


/* MEDIAS QUERIES */

/* 320px — 480px: Mobile devices*/
@media (min-width:320px) {}

/* 481px — 768px: iPads, Tablets*/
@media (min-width: 481px) {

    .button {
        margin: 0.8rem;
        width: 150px;
        height: 40px;
        background: #3333ff;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 0.8rem;
    }

}

/* 769px — 1024px: Small screens, laptops*/
@media (min-width: 769px) {
    .button {
        margin: 0.8rem;
        width: 150px;
        height: 40px;
        background: #3333ff;
        color: #fff;
        border: none;
        border-radius: 30px;
        font-size: 0.8rem;
    }

}