<article class="section-article display-1">
  <div class="section-img section-img-sales ">
    <img src=<%=product.product_image %> alt="Sensor image" />
  </div>
  <div class="section-article-foot-name-sales">
    <h4>
      <%= product.product_name %>
    </h4>
  </div>
  <div class="section-article-foot section-article-foot-price">
    <h5>Desde <%= product.product_price %>
    </h5>
  </div>
  <div class="section-article-foot section-article-foot-discount">
    <h5>
      <%= product.product_discount %> % OFF
    </h5>
  </div>
</article>