<footer>
    <div class="footer-container">
        <div class="logo-and-contact-data">
            <img src="/assets/images/logo.png" alt="Essensor logo" />
            <i>San Martín 3332, CABA - Argentina</i>
            <i>Tel.: (+54 11) 4444 3322</i>
        </div>
        <div>
            <ul class="socials-media">
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 <a href="#">G8 FullStackDeveloper</a></p>
            <div class="footer-menu">
                <ul class="f-menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/productsList">Productos</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

